<div class="ins container">
    <div>
        <div class="titulo">
            <h1 class="ti">Pasos para poder subir una imagen a nuestra App</h1>
        </div>
        <div class="i container">
            <p class="p">1.- Subimos nuestra imagen a un drive</p>
            <p class="p">2.- Damos click derecho en la imagen</p>
            <p class="p">3.- Damos click a la opcion de compartir</p>
            <p class="p">4.- Damos click a la opcion de copiar enlace</p>
            <p class="p">5.- Copiamos el ID de la imagen que seria lo encerrado en rojo</p>
            <img src="../../assets/paso 5.PNG" class="img">
            <p class="p">6.- Guardamos ese ID en la opcion de Guardar imagen en el menú</p>
    
        </div>
    </div>
</div>